<mdb-navbar SideClass="navbar lighten">
  <logo>
      <a class="navbar-brand" href="#">
          <h4>
              <img src="https://cdn.worldvectorlogo.com/logos/google-photos.svg" height="40" alt=""> PIC-BUCKET</h4>
      </a>
  </logo>
</mdb-navbar>

<div class="container mt-5 mb-5">
  <div class="card back" align="center">
      <h1 style="color: aliceblue">Google Picture Gallery</h1>
      <a href="/auth/google" class="btn btn-default waves-light" style="width: 16rem; margin: 1rem;" target="_self" mdbWavesEffect>Authenticate With Google</a>
  
  <div class="view overlay hm-white-slight waves-light" mdbWavesEffect>
      <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" class="img-fluid">
      <a>
          <div class="mask"></div>
      </a>
  </div>
</div>
</div>